* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
}

/* ===== HEADER ===== */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #a5a9bdec;
    backdrop-filter: blur(10px);
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: 'DM Serif Text', serif;
    font-size: 55px;
    color: #1e3a8a;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.top-links button {
    background: #e9eef6;
    padding: 20px 20px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 0 15px 15px;
    color: #1e3a8a;
}

.top-links button:hover {
    background: #1e3a8a;
    color: white;
}

.bottom-links a {
    color: white;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.3s ease;
}

.bottom-links a:hover {
    color: #1e3a8a;
}

.search-btn {
    background: #1e3a8a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


/* ===== NAV MODAL ===== */
.nav-modal-container {
    position: relative;
}

.nav-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f9f9f9;
    display: none;
    justify-content: space-between;
    padding: 40px 60px;
    border-top: 2px solid #1e3a8a;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    z-index: 999;
}

.nav-modal.active {
    display: flex;
    animation: fadeDown 0.3s ease;
}

.modal-left h3 {
    font-size: 26px;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.modal-left p {
    font-size: 16px;
    line-height: 1.5;
}

.modal-right ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-right a {
    font-weight: 600;
    color: #1e3a8a;
    transition: 0.3s;
}

.modal-right a:hover {
    color: #14275c;
    text-decoration: underline;
}

.contact-container {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #162d6e;
}



/* ===== FOOTER ===== */
.footer {
    background: #a5a9bd;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    /* Spread across row */
    align-items: center;
    /* Vertically aligned */
    max-width: 1200px;
    margin: auto;
}

.footer-logo img {
    width: 120px;
}

/* Keep in Touch in column */
.footer-contact {
    display: flex;
    flex-direction: column;
    /* Stack text vertically */
    gap: 8px;
    text-align: center;
}

.footer-button .btn {
    background: white;
    color: #1e3a8a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
}

.social-icons a {
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #1e3a8a;
    transform: translateY(-3px);
}