/* General Styles */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #9dafbf;
    color: white;
    text-align: start;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Main Content Styles */

/* Footer Styles */
footer {
    background-color: #9dafbf;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
}

/* Desktop Styles*/
.logo {
   font-family: 'DM Serif Text', serif;
   font-size: 55px;
   color: #354eab;
   font-weight: bold;
   text-decoration: none;
}

/* Tablet Styles */

/* Mobile Styles */