/* General Styles */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #9dafbf;
    color: white;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

/* Main Content Styles */

/* Footer Styles */
footer {
    background-color: #9dafbf;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
}

/* Desktop Styles*/
.logo {
   font-family: 'DM Serif Text', serif;
   font-size: 55px;
   color: #354eab;
   font-weight: bold;
   text-decoration: none;
}

.top-nav {
    display: flex;
}

.top-nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding-right: 20px;
    flex-direction: row;
    list-style: none;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.bottom-nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    flex-direction: row;
}


/* Tablet Styles */

/* Mobile Styles */